<div class="row">
    <!-- PROJECT DESCRIPTION-->
    <div class="twelve columns">
        <div class="sectiontitle">
            <h4>{{person.name}}</h4>
        </div>
        <p>
          {{person.description}}
        </p>

        <p>
          {{person.address}}
        </p>

    </div>
    <!-- end main content-->
</div>

<div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>Gallery</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="https://picsum.photos/300/200?random={{slide}}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>Videos</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <iframe style="width: 100%;" src="https://www.youtube.com/embed/Gx4iBLKLVHk?controls=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </ngx-slick-carousel>
    </div>
</div>
