<!-- HEADER
================================================== -->
<div class="row">
    <div class="headerlogo four columns">
        <div class="logo">
            <a href="index.html">
                <h4>Church Services</h4>
            </a>
        </div>
    </div>
    <div class="headermenu eight columns noleftmarg">
        <nav id="nav-wrap">
            <ul id="main-menu" class="nav-bar sf-menu">
                <li class="current">
                    <a routerLink="/home">Home</a>

                </li>

                <li>
                    <a href="contact.html">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<hr>
