<div class="row" *ngFor="let person of peopleInService;">
    <div class="circledate">
        <div class="textcircle">
            - 04 -<br />October<br />2013
        </div>
    </div>
    <h4>The Dower Farm <span class="comments">3 comments</span></h4>
    <div class="dots blogdots">
    </div>
    <p>
        You may have seen prettier girls than Ellin Delorane, but never one that the heart so quickly went out to. She
        was
        too much like her dead mother; had the same look of fragile delicacy, the same sweet face with its pensive
        sadness,
        the soft brown eyes and the lovely complexion. Mrs. Delorane had died of decline: people would say to one
        another,
        in confidence, they hoped Ellin might escape it. The largest and <b>best farm</b> in the neighbourhood of
        Timberdale, larger than even that of the Ashtons, was called the Dower Farm.
    </p>
    <p>
        It belonged to Sir Robert Tenby, and had been occupied for many years by one Roger Brook, a genial, pleasant
        gentleman of large private means apart from his success in farming. Rich though he was, he did not disdain to
        see
        practically after his work himself; was up with the lark and out with his men, as a good farmer ought to be.
        Out-of-doors he was the keen, active, thorough farmer; indoors he lived as a gentleman. He had four children:
        three
        boys and one girl ... <a href="#" class="saymore">Read more</a>
    </p>
    <div class="hr"></div>
</div>