<fieldset class="row">
    <legend>Person info</legend>
    <div class="row">
        <div class="four columns">
            <label>Name:</label>
        </div>

        <div class="eight columns">
            <label>{{person.name}}</label>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <label>Last name:</label>
        </div>
        <div class="eight columns">
            <label>{{person.lastname}}</label>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <label>Company:</label>
        </div>

        <div class="eight columns">
            <label>{{person.company}}</label>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <label>Address:</label>
        </div>

        <div class="eight columns">
            <label>{{person.address}}</label>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <label>Description:</label>
        </div>
        <div class="eight columns">
            <label>{{person.description}}</label>
        </div>
    </div>

</fieldset>